.videos {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

@media (max-width: 1200px) {
	.videos {
		grid-template-columns: 50% 50%;
	}
}

@media (max-width: 768px) {
	.videos {
		grid-template-columns: 100%;
	}
}
